body{
    margin: 0;
    height: 100%;
}

/*
Login Page CSS
*/
#login{
    margin: auto;
    width: 9%;
}

#login p, input{
    float: none;

}

p{
    margin:0;
}
/*
End Login Page CSS
*/



/*
Landing Page CSS
 */
#landing-header{
    height: 50px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#header-logo{
    width:50%;
    height: 100%;
    display: inline;
    float: left;
}

#header-user{
    width: 50%;
    margin: 5px 0 0 0;
    display: inline;
    float:right;
}

/*
#landing-header p{
    display: inline;
}
*/

#logo{
    display: inline;
}


#landing-header img{
    max-width: 100%;
    max-height: 100%;
    display: inline;
}

#username{
    text-align: right;
    font-size: 1.15em;
}

#role{
    text-align: right;
    margin-top: 5px;
    font-size: 1.15em;
}

#reporting-content{
    margin-left: 15%;
    width: 70%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
}

#linegraph-report, #piechart-report, #admin-report, #generate-report{
    width: 47.5%;
    margin: 2.5% 0 2.5% 0;
    border-style:solid;
    background: white;
}

#reporting-content #linegraph-report {
    margin-right: 3.8%;
}

#piechart-report-content{
    overflow: hidden;
}

#reporting-content #generate-report {
    margin-right: 3.8%;
}
#admin-report {

}

.report-header{
    background-color: lightgray;
    font-weight:bold;
    font-size: .9em;
}

.report-header p{
    padding: .5% 0 .5% 2%;
}

#admin-report-content{
    background-color: white;
}

#admin-report-content p{
    text-align: center;
}