body{
    margin: 0;
    height: 100%;
}

/*
Login Page CSS
*/
#login{
    margin: auto;
    width: 9%;
}

#login p, input{
    float: none;

}

p{
    margin:0;
}
/*
End Login Page CSS
*/



/*
Landing Page CSS
 */
#landing-header{
    height: 200px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#header-logo{
    width:50%;
    height: 100%;
    display: inline;
    float: left;
}

#header-user{
    width: 50%;
    margin: 50px 0 0 0;
    display: inline;
    float:right;
}

/*
#landing-header p{
    display: inline;
}
*/

#logo{
    display: inline;
}


#landing-header img{
    max-width: 100%;
    max-height: 100%;
    display: inline;
}

#username{
    text-align: right;
    font-size: 2em;
}

#role{
    text-align: right;
    margin-top: 20px;
    font-size: 2em;
}

#reporting-content{
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#reporting-content div{
    width: 45%;
    padding-bottom:35%;
    margin: 2.5% 2.5% 2.5% 2.5%;

}

#piechart-report { background: #DDD; }
#linegraph-report { background: #AAA; }
#generate-report { background: #777; }
#admin-report { background: #444; }

#admin-report-header{
    margin: 0;
}